**\.o
**\.sconsign.dblite
**\.vscode
**__pycache__
**/packages.dbsqlite
**/build
**/.config.old
/libraries/*.o
rtthread.hex
rtthread.elf
rtthread.map

*.uvguix.*
*@*
*.0???
*.d
RTE_Components.h
Pre_Include_Global.h
